force-app/main/default/flows/Opportunity_With_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_record_page</name>
        <label>Redirect to record page</label>
        <locationX>843</locationX>
        <locationY>365</locationY>
        <actionName>c:NavigateToCreatedRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_item</name>
        <label>Add item</label>
        <locationX>972</locationX>
        <locationY>124</locationY>
        <assignmentItems>
            <assignToReference>NewOppProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_opportunity_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_opportunity_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Product_to_List</name>
        <label>Adding Product to List</label>
        <locationX>717</locationX>
        <locationY>84</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportinityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_add_new_one_checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_account_fields</name>
        <label>Assign opportunity fields</label>
        <locationX>509</locationX>
        <locationY>10</locationY>
        <assignmentItems>
            <assignToReference>NewOpportinity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportinity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>chosenAccId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportinity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportinity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportinity.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportinity.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Probability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportinity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportinity.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportinity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StageName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_standard_PB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_product_fields</name>
        <label>Assign product fields</label>
        <locationX>662</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>OpportinityLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportinityLineItem.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportinityLineItem.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>List_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportinityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PBEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportinityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_default_product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportinityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportinityLineItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>null</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportinityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Product_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_opp_id</name>
        <label>set opp id</label>
        <locationX>925</locationX>
        <locationY>13</locationY>
        <assignmentItems>
            <assignToReference>Set_opportunity_Id.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_passed_account_id</name>
        <label>Set passed account id</label>
        <locationX>284</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>chosenAccId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>createAccChoice</name>
        <choiceText>Create New Account</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>createAccount</elementReference>
        </value>
    </choices>
    <choices>
        <name>findAccount</name>
        <choiceText>Search for Account</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>createAccount</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Checking_selected_action</name>
        <label>Checking selected action</label>
        <locationX>368</locationX>
        <locationY>374</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Account_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createAccChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Account</targetReference>
            </connector>
            <label>Create New Account</label>
        </rules>
        <rules>
            <name>Search_for_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findAccount</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_action</targetReference>
            </connector>
            <label>Search for Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_account_record_id_passed</name>
        <label>Is account record id passed</label>
        <locationX>48</locationX>
        <locationY>296</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_isn_t_passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choosing_Account_Action</targetReference>
            </connector>
            <label>Account isn&apos;t passed</label>
        </rules>
        <rules>
            <name>Account_is_passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_passed_account_id</targetReference>
            </connector>
            <label>Account is passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_add_new_one_checked</name>
        <label>Is add new one checked</label>
        <locationX>813</locationX>
        <locationY>17</locationY>
        <defaultConnector>
            <targetReference>Save_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_new_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Save_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Product</targetReference>
            </connector>
            <label>Create new product</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>accountOwner</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <outputAssignments>
            <assignToReference>account.OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>accountRatingPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rating</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>accounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>accountTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Industry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Stage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Opportunity With Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity With Products</label>
    <loops>
        <name>Set_opportunity_Id</name>
        <label>Set opportunity Id</label>
        <locationX>888</locationX>
        <locationY>170</locationY>
        <collectionReference>OpportunityProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_opp_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>463</locationX>
        <locationY>170</locationY>
        <assignRecordIdToReference>chosenAccId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>Account_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Billing_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Billing_Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Billing_Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Account_Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>accPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Save_Opportunity</name>
        <label>Save Opportunity</label>
        <locationX>803</locationX>
        <locationY>249</locationY>
        <assignRecordIdToReference>NewOppId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_opportunity_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>chosenAccId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>NewOpportinity.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>NewOpportinity.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewOpportinity.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>NewOpportinity.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewOpportinity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability</field>
            <value>
                <elementReference>NewOpportinity.Probability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>NewOpportinity.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>NewOpportinity.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Save_products</name>
        <label>Save products</label>
        <locationX>949</locationX>
        <locationY>329</locationY>
        <connector>
            <targetReference>Redirect_to_record_page</targetReference>
        </connector>
        <inputReference>NewOppProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_default_pde</name>
        <label>Get default PDE</label>
        <locationX>612</locationX>
        <locationY>399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_default_product2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StandardPB.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>PBEntry</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_default_product2</name>
        <label>Get default product2</label>
        <locationX>743</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity_Product</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_standard_PB</name>
        <label>Get  standard PB</label>
        <locationX>569</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_default_pde</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputReference>StandardPB</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getAccountById</name>
        <label>getAccountById</label>
        <locationX>146</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_account_record_id_passed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>account</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Choose_action</name>
        <label>Choose account</label>
        <locationX>380</locationX>
        <locationY>226</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>SearchWrapper</name>
            <extensionName>c:SearchLocator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>chosenAccountId</name>
                <value>
                    <stringValue/>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>chosenAccId</assignToReference>
                <name>chosenAccountId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choosing_Account_Action</name>
        <label>Choosing Account Action</label>
        <locationX>258</locationX>
        <locationY>371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checking_selected_action</targetReference>
        </connector>
        <fields>
            <name>Choose_action_for_account</name>
            <choiceReferences>createAccChoice</choiceReferences>
            <choiceReferences>findAccount</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>createAccChoice</defaultSelectedChoiceReference>
            <fieldText>Choose action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>377</locationX>
        <locationY>34</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_account_fields</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NewOpportinity.Name</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>OpportunityType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lead_Source</name>
            <choiceReferences>LeadSource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>NewOpportinity.Amount</elementReference>
            </defaultValue>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>NewOpportinity.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StageName</name>
            <choiceReferences>Stage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_Step</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NewOpportinity.NextStep</elementReference>
            </defaultValue>
            <fieldText>Next Step</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Probability</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>NewOpportinity.Probability</elementReference>
            </defaultValue>
            <fieldText>Probability(%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Probability can&apos;t be greater than 100!&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Probability}&gt;100</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Opportunity_Product</name>
        <label>Create Opportunity Product</label>
        <locationX>616</locationX>
        <locationY>25</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_product_fields</targetReference>
        </connector>
        <fields>
            <name>Product_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OpportinityLineItem.Name</elementReference>
            </defaultValue>
            <fieldText>Product Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>List_Price</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>OpportinityLineItem.ListPrice</elementReference>
            </defaultValue>
            <fieldText>List Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OpportinityLineItem.Description</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>OpportinityLineItem.Quantity</elementReference>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Total Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Save_new</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>save_new_var</elementReference>
            </defaultValue>
            <fieldText>Save&amp;new</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Account</name>
        <label>New Account</label>
        <locationX>519</locationX>
        <locationY>424</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Number</name>
            <dataType>Number</dataType>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>accPhone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rating</name>
            <choiceReferences>accountRatingPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fax</name>
            <dataType>String</dataType>
            <fieldText>Fax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Type</name>
            <choiceReferences>accountTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Industry</name>
            <choiceReferences>Industry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Industry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Annual_Revenue</name>
            <dataType>Currency</dataType>
            <fieldText>Annual Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Billing_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Billing Address</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>20</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>getAccountById</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>chosenAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>currentAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOpportinity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewOppProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportinityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>PBEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>save_new_var</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StandardPB</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
</Flow>
